<h1> New Post </h1> 

<%= form_for @post do |p| %>
  <% if @post.errors.any? %>
    <div class="error">
      <h2> 
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul> 
        <% @post.errors.full_messages.each do |msg| %> 
          <li> <%= msg %> </li>
        <% end %> 
      </ul> 
    </div>
  <% end %> 

  <%= p.label :title %> 
  <%= p.text_field :title %> 

  <%= p.label :body %> 
  <%= p.text_area :body %> 

  <%= p.label :all_tags%> 
  <%= p.text_field :all_tags%> 

  <%= p.submit "Publish" %> 
<% end %> 
